<header>
    <h1>Toggle</h1>
    <p>Toggle component</p>
</header>

<ngx-toggle [indeterminate]="isIndeterminate">
    <div class="ngx-toggle-content--before">
        Before
    </div>
    <ng-container *ngxToggleActive>
        <span class="material-symbols-outlined">
            check_box
        </span>
    </ng-container>
    <ng-container *ngxToggleInactive>
        <span class="material-symbols-outlined">
            check_box_outline_blank
        </span>
    </ng-container>
    <ng-container *ngxToggleIndeterminate>
        <span class="material-symbols-outlined">
            indeterminate_check_box
        </span>
    </ng-container>
    <div class="ngx-toggle-content--after">
        After
    </div>
</ngx-toggle>